.logo-title{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
}

.header-nav{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5%;
}